.form__fieldset {
  display: grid;
  align-items: center;

  text-align: left;

  border: 0;
  border-bottom: 1px solid #d6d6d6;

  grid-template-columns: 1fr;
}

.form__wrapper--fieldset {
  display: block;
  width: 100%;

  border-top: 1px solid #d6d6d6;
}

.form__fieldset-title {
  text-align: center;
}

.form__contact-input {
  width: 100%;
  height: 58px;
  padding-left: 16px;

  font-weight: 700, bold;
  font-size: 18px;
  line-height: 26px;

  background-color: #f2f2f2;
  border: none;
}

.form__contact-label {
  font-weight: 400, regular;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.form__options-label {
  display: flex;
  align-items: center;
  margin-left: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__options-item {
  display: flex;
}

.form__feedback,
textarea {
  background: #f2f2f2;
}

.form__input-wrapper--phone,
.form__input-wrapper--mail {
  display: grid;

  grid-template-columns: 1fr 58px;
}

.form__submit {
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal--open-success,
.modal--open-error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  display: none;
  width: 320px;

  background-color: #ffffff;
}

.modal--open-success {
  width: 244px;
  height: 144px;
  padding: 39px 39px 15px 30px;
}

.modal--open-error {
  width: 237px;
  height: 114px;
}

.modal--open-success .modal__container-success {
  display: block;
}

.modal--open-error .modal__container-error {
  display: block;
}

.modal__wrapper-text {
  width: 237px;
  height: 114px;
  padding: 45px 42px 121px 41px;

  text-transform: uppercase;

  background-color: #ffffff;
}

.modal__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.modal__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
