.navigation__wrapper {
  display: none;
}

.navigation--open .navigation__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;

  display: none;

  background-color: #81b3d2;
}

.header__navigation {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navigation__wrapper {
  display: none;
  margin: 0 auto;
}

.navigation__item {
  font-size: 20px;
  color: magenta;
}
