// Фон гор и белая вставка делаются через множественный фон
.welcome__bg {
  padding-top: 90px;
  padding-bottom: 85px;
  // Между url и скобками пробела нет
  // background-image: url ("../img/back-mobile.jpg");
  // background-image: url("../img/back-mobile.jpg");

  background-image: url("../img/welcome-triangle.svg"),
    url("../img/welcome-bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, 0 0;
  background-size: 100%, cover;
}

// Центруем текст и прописываем паддинги.
.welcome__description {
  padding: 16px 30px;

  text-align: center;
}

// Задаем размеры букв, block и центруем картинку
.welcome__bg img {
  display: block;
  width: 282px;
  height: 214px;
  margin: 0 auto;
}

// Прописываем характеристики текста
.welcome__title {
  margin-bottom: 36px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.welcome__overview {
  margin: 0;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  border-bottom: 1px solid #d6d6d6;
}

.welcome--page img {
  width: 229px;
  height: 39px;
}
